<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alaska Landmine | Alaska LegisRater</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta property="og:url"                content="http://jlpolrater.y3rqmziwcg.us-west-2.elasticbeanstalk.com/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Alaska Landmine Alaska LegisRater" />
    <meta property="og:description"        content="Which Alaska legislator is most high energy? Sexiest? Drunkest? Score legislators and see how others think they stack up." />
    <meta property="og:image"              content="http://jlpolrater.y3rqmziwcg.us-west-2.elasticbeanstalk.com/static/fb_image.png" />
</head>
<body style="margin: 0;">
    <div id="react-root"></div>
    <script src="/static/bundle.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>



